main img {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

main img.logo {
  border-radius: var(--border-radius) !important;
}

img+em, a+em.caption {
  margin: unset !important;
}